/* :root {
                        --main-color: #1b1b1b;
                        --primary-color: #eff1f3;
                        --bg-color: #f6f8fb;
                        --hover: #fdfcfb;
                        --black: #222;
                        --white: #fff;
                        --border: .1rem solid #aaa;
                        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
                        font-family: 'Dosis', sans-serif;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        outline: none;
                        text-decoration: none;
                        transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
                        text-transform: capitalize;
}

section {
                        /* padding: 6rem 15%; *
                        margin-right: 0px;
                        display: flex;
}

img {
                        border-radius: 50%;
                        /* margin: 5px; *
                        width: 100px;
                        margin-right: 500px;

}

.order form {
                        /* padding: 2rem soild black; *
                        background: var(--primary-color);
                        box-shadow: var(--box-shadow);
}

.order form .box-container {
                        display: flex;
                        /* flex-wrap: wrap; *
                        gap: 2rem;
}

.order form .box-container .box {
                        flex: 1 1 41rem;
}

.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea {
                        width: 100%;
                        margin: 1rem 0;
                        /* padding: 1.2rem 1.4rem black; *
                        font-size: 1.7rem;
                        color: var(--black);
                        border: var(--border);
                        border-radius: 15px;
                        height: 50px;
}

.order form .box-container .box .inputBox input {
                        width: 300px;
}

.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder {
                        text-transform: capitalize;
}

.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus {

                        background: #F2F2F2;
                        color: #000;
}

.order form .box-container .box .inputBox input:focus::placeholder,
.order form .box-container .box .inputBox textarea:focus::placeholder {
                        color: #ccc;
}

.order form .box-container .box .inputBox textarea {
                        height: 20rem;
                        resize: none;
}

.order form .box-container .box .inputBox .map {
                        height: 20rem;
                        width: 100%;
                        margin: 1rem 0;
                        border: none;
}

.order form .box-container .box .inputBox span {
                        color: var(--main-color);
                        font-size: 14px;
}

#btn {
                        background: #34484F;
                        border: 15px;
                        border-radius: 20px;
                        color: #fff;
                        margin-right: 300px;
                        width: 300px;
}


a {
                        margin-right: 370px;
                        font-size: 16px;
}

@media (max-width:991px) {

                        html {
                                                font-size: 55%;
                        }

                        /* section {
                                                padding: 3rem 2rem;
                        } *

                        .home .slide .content {
                                                text-align: left;
                                                width: 50rem;
                                                padding-left: 9rem;
                        }

}

@media (max-width:768px) {

                        #menu-btn {
                                                display: inline-block;
                        }

                        .fa-times {
                                                transform: rotate(180deg);
                        }

                        .header .navbar {
                                                position: absolute;
                                                top: 99%;
                                                left: 0;
                                                right: 0;
                                                background-color: var(--white);
                                                border-top: var(--border);
                                                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                        }

                        .header .navbar.active {
                                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }

                        .header .navbar a {
                                                display: block;
                                                margin: 2rem;
                        }

                        .home .slide .content {
                                                text-align: left;
                                                width: 40rem;
                                                padding-left: 9rem;
                        }

                        .home .slide .content h3 {
                                                font-size: 4rem;
                        }

}

@media (max-width:450px) {

                        html {
                                                font-size: 50%;
                        }

                        .home .slide .content h3 {
                                                font-size: 3rem;
                        }

                        /* section {
                                                /* padding: 2rem 7%; */
/* margin-right: 80px; *
                        } *

                        .btn {
                                                background: #34484F;
                                                border: 15px;
                                                border-radius: 20px;
                                                color: #fff;
                                                margin-right: 80px;
                                                width: 100px;
                        }

                        h1 {
                                                margin-right: 100px;
                                                font-size: 14px;
                        }

                        a {
                                                margin-right: 70px;
                                                font-size: 16px;
                        }

                        img {
                                                border-radius: 50%;
                                                /* margin: 5px; *
                                                width: 80px;
                                                margin-right: 100px;

                        }

} */
/* ----------------- */
:root {
                        --main-color: #1b1b1b;
                        --primary-color: #eff1f3;
                        --bg-color: #f6f8fb;
                        --hover: #fdfcfb;
                        --black: #222;
                        --white: #fff;
                        --border: .1rem solid #aaa;
                        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
                        font-family: 'Dosis', sans-serif;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        outline: none;
                        text-decoration: none;
                        transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
                        text-transform: capitalize;
}

section {
                        padding-top: 0;
                        padding: 2rem 10%;
                        /* margin-left: 200px; */
}

#img {
                        border-radius: 50%;
                        /* margin: 5px; */
                        width: 100px;
                        margin-right: 520px;

}

.order form {
                        padding: 2rem soild black;

                        /* background: var(--primary-color); */
                        /* box-shadow: var(--box-shadow); */
}

.order form .box-container {
                        display: flex;
                        /* flex-wrap: wrap; */
                        gap: 1rem;
}

.order form .box-container .box {
                        flex: 1 1 41rem;
}

.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea {
                        width: 100%;
                        margin: 1rem 0;
                        padding: 1.2rem 1.4rem black;
                        font-size: 1.7rem;
                        color: var(--black);
                        border: var(--border);
                        border-radius: 15px;
                        height: 40px;
}

.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder {
                        text-transform: capitalize;
}

.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus {
                        /* background: var(--main-color);
                         */
                        /* background: #F2F2F2; */
                        /* color: var(--white); */
                        color: #000;
                        /* color: #000; */
}

.order form .box-container .box .inputBox input:focus::placeholder,
.order form .box-container .box .inputBox textarea:focus::placeholder {
                        color: #ccc;
                        /* color: #000; */
}

.order form .box-container .box .inputBox textarea {
                        height: 20rem;
                        resize: none;
}

.order form .box-container .box .inputBox .map {
                        height: 20rem;
                        width: 100%;
                        margin: 1rem 0;
                        border: none;
}

.order form .box-container .box .inputBox span {
                        color: var(--main-color);
                        font-size: 14px;
}

#btn {
                        background: #34484F;
                        border: 15px;
                        border-radius: 20px;
                        color: #fff;
                        margin-right: 300px;
                        width: 300px;
                        height: 40px;
}


a {
                        margin-right: 370px;
                        font-size: 16px;
}

@media (max-width:991px) {

                        html {
                                                font-size: 55%;
                        }

                        section {
                                                padding: 3rem 2rem;
                        }

                        .home .slide .content {
                                                text-align: left;
                                                width: 50rem;
                                                padding-left: 9rem;
                        }

}

@media (max-width:768px) {

                        #menu-btn {
                                                display: inline-block;
                        }

                        .fa-times {
                                                transform: rotate(180deg);
                        }

                        .header .navbar {
                                                position: absolute;
                                                top: 99%;
                                                left: 0;
                                                right: 0;
                                                background-color: var(--white);
                                                border-top: var(--border);
                                                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                        }

                        .header .navbar.active {
                                                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }

                        .header .navbar a {
                                                display: block;
                                                margin: 2rem;
                        }

                        .home .slide .content {
                                                text-align: left;
                                                width: 40rem;
                                                padding-left: 9rem;
                        }

                        .home .slide .content h3 {
                                                font-size: 4rem;
                        }

}

@media (max-width:450px) {

                        html {
                                                font-size: 50%;
                        }

                        .home .slide .content h3 {
                                                font-size: 3rem;
                        }

                        /* section {
                                                padding: 2rem 7%;
                                                margin-right: 80px;
                        } */

                        .order form .box-container {
                                                display: flex;
                                                flex-wrap: wrap;
                                                gap: 2rem;
                        }

                        #btn {
                                                background: #34484F;
                                                border: 15px;
                                                border-radius: 20px;
                                                color: #fff;
                                                margin-right: 80px;
                                                width: 200px;
                        }

                        h1 {
                                                /* margin-right: 50px; */
                                                font-size: 20px;
                                                margin-top: 10px;
                                                text-align: center;
                        }

                        a {
                                                margin-right: 70px;
                                                font-size: 16px;
                        }

                        #img {
                                                border-radius: 50%;
                                                /* margin: 5px; */
                                                width: 80px;
                                                margin-right: 150px;

                        }

}